.loader {
  width: 10rem;
  height: 10rem;
  border: 1.5rem solid #fff8f7;
  border-bottom-color: #d09f9d;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
