.home-container {
  margin: 7rem 2rem 5rem 2rem;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  width: 100%;
}

.button-container {
  margin-bottom: 2rem;
}

.no-favorites-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50rem;
  font-size: 2rem;
}
